name: docs

on:
  push:
    branches: [main]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  docs-deploy:
    if: github.ref == 'refs/heads/main' && github.repository == 'stfc/aiida-mlip'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install pandoc
        uses: pandoc/actions/setup@v1

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.14"
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync

      - name: Build docs
        run: uv run make html
        working-directory: ./docs/

      - name: upload
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload entire repository
          path: './docs/build/html/.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
